
@{
    ViewBag.Title = "Index";
}

<h1>Welcome,</h1>
<hr/>
<div class="col-md-12">
    <div class="col-md-6">
        <a href="@Url.Action("AddTask")" type="button" class="btn btn-primary"> Add Task </a>
    </div>

    <div class="col-md-6">
        <a href="@Url.Action("ViewAllTasks")" type="button" class="btn btn-primary"> View My Tasks </a>
    </div>
</div>